section {
        width: 100%;
}

a {
    text-decoration: none;
    color: peru;
    font-size: 20px;

}

a:hover {
    color: purple;
}

article {
    padding: 20px;
        display: inline-block;
}

img {
    width: 220px;
    height: 300px;
    
}

li {
    padding: 10px
}